version: 2
jobs:
  checkout:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - run: mkdir -p workspace
      - run: ls -al workspace
      - run: bash $PWD/scripts/checkout.sh /tmp/workspace $PWD/standaardenregister.json
      - run:
          name: List the files which have been created
          command: ls -al /tmp/workspace/*
      - run:
          name: List all standards that have been modified
          command: if [ -e /tmp/workspace/changedstandards.json ] ; then cat /tmp/workspace/changedstandards.json ; fi
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - changedstandards.json
            - commit.json
            - tmp-register.txt
            - repositories/
  extract-info:
    docker:
      - image: circleci/python
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run: bash $PWD/scripts/extract-info.sh /tmp/workspace
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - description-paths.txt
            - filenames.txt
            - statistics_config.json
  markdown-to-html:
    docker:
      - image: ddvlanck/markdown-to-html:1.1
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run: bash $PWD/scripts/markdown-transformer.sh /tmp/workspace
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - descriptions/
  render-html:
    docker:
      - image: ddvlanck/html-page-generator:1.4.2
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Creating HTML pages for modified or new standards
          command: bash $PWD/scripts/template-renderer.sh
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - html_pages/
  create-statistics:
    docker:
      - image: ddvlanck/oslo-contributors:1.0
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Creating JSON file with statistics for all standards
          command: bash $PWD/scripts/statistics.sh /tmp/workspace
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            statistics.json
  push-to-repository:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - add_ssh_keys:
          fingerprints:
            - "b4:3b:99:71:b3:d7:97:ad:7a:97:15:44:c0:66:9a:b9"
      - run:
          name: Checkout target repository
          workdir: /tmp
          command: |
            rm -rf OSLO-StandaardenregisterGenerated
            git clone git@github.com:Informatievlaanderen/OSLO-StandaardenregisterGenerated.git
      - run:
          name: Clean the generated directory
          workdir: /tmp/OSLO-StandaardenregisterGenerated
          command: |
            git fetch origin
      #            if [ "`cat /tmp/workspace/haschangedpublications.json`" == "false" ] ; then git rm -r --force * ; fi
      - run: bash $PWD/scripts/clean-repository-generated.sh
      - run:
          name: Copy generated assets
          workdir: /tmp/workspace
          command: |
            mkdir -p /tmp/OSLO-StandaardenregisterGenerated/public/erkende-standaard
            mkdir -p /tmp/OSLO-StandaardenregisterGenerated/public/kandidaat-standaard
            mkdir -p /tmp/OSLO-StandaardenregisterGenerated/public/standaard-in-ontwikkeling
            mkdir -p /tmp/OSLO-StandaardenregisterGenerated/data
            cp statistics.json /tmp/OSLO-StandaardenregisterGenerated/public/data/statistics.json
            if [ -d html_pages/erkende-standaard ] ; then if [ ! "$(ls -A html_pages/erkende-standaard)" ] ; then echo "Directory html_pages/erkende-standaard is empty" ; else cp -R html_pages/erkende-standaard/* /tmp/OSLO-StandaardenregisterGenerated/public/erkende-standaard/ ; fi fi
            if [ -d html_pages/kandidaat-standaard ] ; then if [ ! "$(ls -A html_pages/kandidaat-standaard)" ] ; then echo "Directory html_pages/kandidaat-standaard is empty" ; else cp -R html_pages/kandidaat-standaard/* /tmp/OSLO-StandaardenregisterGenerated/public/kandidaat-standaard/ ; fi fi
            if [ -d html_pages/standaard-in-ontwikkeling ] ; then if [ ! "$(ls -A html_pages/standaard-in-ontwikkeling)" ] ; then echo "Directory html_pages/standaard-in-ontwikkeling is empty" ; else cp -R html_pages/standaard-in-ontwikkeling/* /tmp/OSLO-StandaardenregisterGenerated/public/standaard-in-ontwikkeling/ ; fi fi
      - run:
          name: Insert the commit
          command: |
            export TAG=`echo "${CIRCLE_SHA1}"`
            echo "{\"commit\" : \"$TAG\"}" > /tmp/OSLO-StandaardenregisterGenerated/commit.json
      - run:
          name: Push results to Github repository OSLO-StandaardenregisterGenerated
          workdir: /tmp/OSLO-StandaardenregisterGenerated
          command: |
            git config user.email "oslo@oslo"
            git config user.name "Circle CI Builder"
            git add .
            git status
            git commit -m "Applying changes from commit ${CIRCLE_SHA1}" --allow-empty
            export TAG=`echo "${CIRCLE_SHA1}" | cut -c1-15`
            git tag "${TAG}"
            git push --force origin master
workflows:
  version: 2
  create_detail_page:
    jobs:
      - checkout
      - extract-info:
          requires:
            - checkout
      - markdown-to-html:
          requires:
            - extract-info
      - render-html:
          requires:
            - markdown-to-html
      - create-statistics:
          requires:
            - extract-info
      - push-to-repository:
          requires:
            - render-html
            - create-statistics
